// background-color
$body-bg: #eee;
$box-bg: #fff;
$box-bg-black-trans: rgba(0, 0, 0, 0.12);
$box-bg-white-trans: rgba(255, 255, 255, 0.80);
$bg-image-color: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);

// color
$white: #fff;
$black: #24292e;
$main: #4EAA4C;

$font-color: #555;

// font-size
$font-size-base: 15px;
$font-size-large: 1.6rem;
$font-size-small: 0.85rem;


// font-weight

// radius

// padding,margin
$padding-base: 10px;
$padding-base-box: 15px;
$margin-base: 12px;
$margin-base-box: 15px;

// box-shadow
$box-shadow-list: 0 0 10px 0 rgba(#000, 0.07);
$box-shadow-box: 0 0 10px 0 rgba(#000, 0.07);
